@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(30, 32, 40, 0.75);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: 'Crete Round', sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 1024px) {
  section {
    grid-column: 2 / 10;
    padding: 1rem;
    background: var(--dark-bg);
    border-radius: 30px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    padding: 0;
    grid-column: 2 / span 10;
    margin: 0 0 var(--spacing);
  }

  header {
    background: var(--dark-bg);
    border-radius: 30px;
    grid-column: 2 / span 10;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }
}

@media (min-width: 1025px) {
  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    border-radius: 30px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    padding: 0;
    grid-column: 2 / span 9;
    margin: 0 0 var(--spacing);
  }

  header {
    background: var(--dark-bg);
    border-radius: 30px;
    grid-column: 2 / span 6;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }
}

blockquote p {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 4rem;
  display: inline;
  line-height: 1.275;
}

.left {
  grid-column: 6 / 12;
}

.middle {
  grid-column: 3 / 11;
}